# Ignorar archivos de base de datos de MQTT (permisos restrictivos)
**/infrastructure/mosquitto/data/mosquitto.db

# Ignorar archivos de entorno y caches
.env
.env.example
**/__pycache__/
**/.pytest_cache/
**/node_modules/
**/.git/

# Ignorar archivos de build previos
**/dist/
**/build/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db
